<h3> Here are all your recipe categories </h3>

<ul>
<% Category.all.each do |category| %>
  <li>
    <%= category.name %>
    <% if category.recipes.count <= 0 %>
      <a href='/categories/<%= category.id %>/delete'>
        <span class="glyphicon glyphicon-remove-circle warning" aria-hidden="true">
        </span>
      </a>
    <% else %>
      <span class='in_use'> *in use - cannot be removed</span>
    <% end %>
  <% end %>
  </li>
</ul>
