<h1> Welcome to The Recipe Box </h1>

<a href="/recipes">Click here to view all recipes</a>
<a href="/ingredients">Click here to view all ingredients</a>
<a href="/categories">Click here to view all categories</a>
