<h3> Here are all your recipe ingredients </h3>

<ul>
  <% Ingredient.all.each do |ingredient| %>
  <li>
    <%= ingredient.name %>
    <% if ingredient.recipes.count <= 0 %>
    <a href='/ingredients/<%= ingredient.id %>/delete'>
      <span class="glyphicon glyphicon-remove-circle warning" aria-hidden="true">
      </span>
    </a>
    <% else %>
      <span class='in_use'> *in use - cannot be removed</span>
    <% end %>
    <% end %>
  </li>
</ul>
