<!DOCTYPE html>
<html>
	<head>
		<title>Recipe Box</title>
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
		<link rel="stylesheet" type="text/css" href="/css/recipe.css">
	</head>
	<body>
		<div class='container'>
			<%= yield %>
			<br /><br />
			<footer><a href='/' class="btn btn-default" role="button">Home</a></footer>
		</div>
	</body>
</html>
