<!DOCTYPE html>
<html>
	<head>
		<title>Recipe Box</title>
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
	</head>
	<body>
		<div>
			<%= yield %>
			<br /><br />
			<a href='/'>Home</a>
		</div>
	</body>
</html>
